<header>
    <div class="container">
    <div class="row">
        <div class="col-sm-20 p-flex p-flex-align-center p-flex-jc-sb ">
            <ul>
                <li class="p-hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                </li>
                
            </ul>
            <!--nav-->
            <ul>
                <li><a href="#" [routerLink]="['/home']" [routerLinkActive]="['is-active']">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Portfolio</a></li>
                <li><a href="#">Experiance</a></li>
                <li><a href="#">Journey</a></li>
                <li><a href="#">Contact</a></li>
                
            </ul>
        </div>
    </div>
    </div>
</header>
