

<header>
    <div class="container">
    <div class="row">
        <div class="col-sm-20 p-flex p-flex-align-center p-flex-jc-sb ">
            <!-- <ul> 
                <li class="p-hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                </li>
                
            </ul> -->
            <!--nav-->
            <app-header></app-header>
            <div class="spacer"></div>
            <ul>
                <li><a  routerLink="home"  >Home
                    
                </a></li>
                <li><a href="#" routerLink="About" >About
                    
                </a></li>
                <li><a href="#" routerLink="Portfolio" >Portfolio</a></li>
                <li><a href="#" routerLink="Experiance">Experiance</a></li>
                <li><a href="#" routerLink="Journey" >Journey</a></li>
                <li><a href="#" routerLink="Contact" >Contact</a></li>
                
            </ul>
           

            <!--Social media-->
            <ul class="social-icons">
                <li><a href="https://github.com/kiranmayi1609"><i class="fab fa-github"></i></a></li>
                <li><a href="https://www.linkedin.com/in/kiranmayi-tummala/"><i class="fab fa-linkedin"></i></a></li>
              </ul>


     </div>
    </div>
    </div>
</header>
<!-- <router-outlet></router-outlet> -->
<!-- <div class="sidenav">
    <div class="logo-container">
        <button class="logo"></button>
        <div class="logo-text"></div>
        <button class="btn-close"></button>
    </div>
    <ul class="sidenav-nav">
        <li class="sidenav-nav-item" *ngFor="let data of navData ">
            <a  class="sidenav-nav-link"[routerLink]="[data.routerLink]">
                <i class="sidenav-link-icon" [class]="data.icon"></i>
                <span class="sidenav-link-text" *ngIf="collapsed">{{data.label}}</span>
            </a>
        </li>
    </ul>

</div> -->

