<!-- <section class="about container">
    <div>
        <h1 class="text-center mb-5"> About Me 
            
        </h1>

    </div>

</section> -->
 <!-- <div class="container" *ngif="!showHomeContent"> -->

<!-- <section >
   
      <div class="container" >
      <div class="row">
        <div class="col-sm-5">
          <div class="p-profile"></div>
        </div>
        <div class="col-sm-7">
          <div class="row">
            <div class="col-sm-12">
              <span class="p-tag">Software Developer</span>
              <h1 class="mt-4">{{dynamicName}}</h1>
            </div>
            <div class="col-sm-12">
              <p class="p-des mt-3 mb-4">Lorem Ipsum is simply dummy text of the printing and 
                typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
                since the 1500s, when an unknown printer took a galley of type and scrambled
                it to make a type specimen book.</p>
            </div>
            <div class="col-sm-12">
              <a routerLink="CV" class="btn btn-lg btn-primary ">Download CV</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
 <div class="component-container">
  <section class="about">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="text-container">
            <span class="p-tag">Software Developer</span>
            <h1 class="mt-4">{{ dynamicName }}</h1>
            <p class="p-des mt-3 mb-4">A detail-oriented computer science student with exceptional skills in configuring and maintaining software and hardware.Highly effective in team environments ,with a motivated and outgoing personality.Posses an enthusiastic attitude and a strong desire to learn,constantly expanding skill set.Demonstrates tha ability to handle multiple tasks efficiently and excels in a fast-faced setting.</p>
            <a routerLink="CV" class="btn btn-lg btn-primary">Download CV</a>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="image-container">
            <img src="/assets/images/header-img.png" alt="RocketImag" class="animated-image">
          </div>
          <!-- <div class="p-profile"></div> -->
        </div>
      </div>
    </div>
  </section>
</div>
  
