/* Add your styles here */
/* .journey {
    padding: 40px 0;
  }
  
  .journey h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .journey-timeline {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .timeline-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
  }
   */
  /* .timeline-icon {
    width: 30px;
    height: 30px; */
    /* background-color: #007bff; 
    border-radius: 50%;
    margin-right: 20px;
  }
   */
  /* .timeline-content h3 {

    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .timeline-content p {
    margin: 0;
  }
   */

   #journeyDiv {
    width: 500px;
    height: 280px;
    margin: 20px;
    position: relative;
    /* border: solid black 1px; */
    /* background-color: rgb(205, 242, 205); */
  }
  
  #journeyIcon {
    position: absolute;
    z-index: 1;
    width: 70px;
    offset-path: path('M 50 80 C 150 -20 250 180 350 80');
    offset-distance: 53%;
  }
  
  svg {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
  }
  