<!-- <p>journey works!</p>
<section class="journey">
  <div class="container">
    <h2>My Journey</h2>
    <div class="journey-timeline">
      <div class="timeline-item" *ngFor="let milestone of milestones">
        <div class="timeline-icon"></div>
        <div class="timeline-content">
          <h3>{{ milestone.year }}</h3>
          <p>{{ milestone.description }}</p>
        </div>
      </div>
    </div>
  </div>
</section>

     -->

     <div id="journeyDiv">
      <img id="journeyIcon" src="journey_icon.svg" alt="Journey Icon">
      <svg fill="none" stroke="gray" stroke-width="2" stroke-dasharray="5,5">
        <!-- <path id="journeyPath" d="M 50 80 C 150 -20 250 180 350 80 " /> -->
        <path id="journeyPath" d="M 50 80 C 150 -20 250 180 350 80  50 80 C 150 -20 250 180 350 80 "></path>
        <!-- <path id="journeyPath" d="M 50 480 C 150 580 250 480 350 580 L 450 680 C 550 780 650 680 750 780 L 850 880 C 950 980 1050 880 1150 980"></path> -->
      </svg>
    </div>
    
     
     
   
  