<!-- <p>journey works!</p>
<section class="journey">
  <div class="container">
    <h2>My Journey</h2>
    <div class="journey-timeline">
      <div class="timeline-item" *ngFor="let milestone of milestones">
        <div class="timeline-icon"></div>
        <div class="timeline-content">
          <h3>{{ milestone.year }}</h3>
          <p>{{ milestone.description }}</p>
        </div>
      </div>
    </div>
  </div>
</section>

     -->

     <!-- <div id="journeyDiv">
   
      <svg fill="none" stroke="gray" stroke-width="7" stroke-dasharray="10,5">
       
        <path id="journeyPath" d="M 50 240 C 250 40 350 440 550 240 C 750 40 850 440 1050 240 C 1250 40 1350 440 1550 240 C 1750 40 1850 440 2050 240 C 2250 40 2350 440 2550 240" />
        
      </svg>
    </div> -->
    
    <!-- <div class="timeline">
      <div *ngFor="let item of  milestones; let i = index" [class]="i % 2 === 0 ? 'container left' : 'container right'">
        <div class="content">
          <h2>{{ item.year }}</h2>
          <p>{{ item.text }}</p>
        </div>
      </div>
    </div>
     -->
     <div class="journey-bg">
     <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="main-timeline">
            <div class="timeline" *ngFor="let item of milestones ">
              <a href="#" class="timeline-content">
                <div class="timeline-year">{{ item.year }}</div>
                <h3 class="title">{{ item.title }}</h3>
                <p class="description">{{ item.description }}</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    