/* Style for the container and title */
.projects {
  padding: 40px 0;
  /* background-color: #f0f0f0; */
}

.container {
  text-align: center;
}

h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color:#fff;
}

/* Style for the project boxes */
.row {
  display: flex; /* Make the boxes flex containers */
  flex-wrap: wrap; /* Allow boxes to wrap to the next line if needed */
  justify-content: center; /* Center the boxes horizontally */
}

.col-md-4 {
  flex: 0 0 calc(33.33% - 20px); /* Adjust the width of each box */
  margin: 10px; /* Add margin between boxes */
  background-color: #fff;
  border: 1px solid rgb(31, 8, 144);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease; /* Add a transition effect */
}

.col-md-4:hover {
  transform: scale(1.05); /* Enlarge the box on hover */
}
/*Style for the project grid */
.project-grid{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
  grid-gap:20px;
  justify-items: center;
  align-items: start;
}

/* Style for the project box content */
.project-box{
 
  background-color: rgb(145, 58, 119);
  border:1px solid rgb(78, 14, 152);
  border-radius:5px;
  box-shadow: 0 3px 10px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease; /* Add a transition effect */
  height: 300px; /* Set a fixed height for the boxes */
  overflow: hidden; /* Hide overflowing content */
  background-size: cover; /* Ensure the background image covers the box */
  
}
.project-box:hover{
  transform: scale(1.5); /*Enlarge the box on hover */
}
.project-box h3 {
  font-size: 20px;
  margin-top: 10px;
}

.project-box p {
  font-size: 16px;
  margin-top: 10px;
}
/* style for the project image */
.project-image-container{
  position:relative;
  cursor:pointer;
}
.project-image {
 max-width:100%;/*set a maximum width to ensure responsiveness*/
  height:auto;/*Maintain aspect ratio*/
 width: 100%; /*set the desired width for your images */
  /* cursor:pointer; Add a pointer cursor on hover to indicate its clickable */
  transition: transform 0.3s ease ;
}
/*zoom effect when the image is clicked */
.project-image.is-zoomed
{
  transform :scale(1.2);
  z-index:2;
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:auto;
  width:100%;
  height:100%;
  margin:auto;
  object-fit:contain;
  background-color: rgba(0,0,0,0.9);
}
/*Style for the project links */
.project-links{
  margin-top:10px;

}
.project-links a{
  /* display:inline-block; */
  /* margin-right:10px; */
  margin-top:10px;
  /* text-decoration:none;
  color:#007bff;/*set link color*/
  /* font-weight:bold; */
} 
.project-links a:hover{
  text-decoration:underline;
}
/*Style for the pipe symbole */
.pipe-symbol {
  margin:0 10px;
  /* color:#007bff; */
  font-weight: bold;
}

  