<!-- <p>projects works!</p> -->
<!-- project Box -->
<!-- <div class="container">
    <div class="card">
        <img class="card-img-top" src="{{ image }}" alt="{{ name }}">
        <div class="card-body">
          <h5 class="card-title">{{ name }}</h5>
          <p class="card-text">{{ description }}</p>
          <a href="{{ url }}" class="btn btn-primary">View Project</a>
        </div>
      </div> -->



    <!-- <div class="row">
        <div class="col-lg-3" *ngFor="let project of projectData">
            <div class="projectBox">
                <h2>{{ project.ProjectName }}</h2>
               <img [src]="project.Img" alt="{{ project.ProjectName }} image">
                <a [href]="project.website">Visit website</a>
            </div>
        </div>
    </div> -->

    <!-- <div *ngFor="let project of projects" class="project"> -->
        <!-- <img [src]="project.imgUrl" alt="Project Image"> -->
        <!-- <h3>{{ project.title }}</h3>
        <p>{{ project.description }}</p>
      </div>
       -->
<!-- </div> -->
<!-- <section class="project" id="project">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Projects</h2>
                 <p>Welcome My Projects </p> -->
                 <!-- <ngb-tabset id="project-tabs" [(activeId)]="activeTab"> -->
                     <!-- <ngb-tab title="Tab 1" id="first"> -->
                         <!-- <ng-template ngbTabContent>
                             <div class="row">
                                 <div *ngfor="let project of projects" class="col-md-4" >
                                     <div class="project-card">
                                         <h3>{{project.title}}</h3>
                                         <p>{{project.description}}</p> -->
                                         <!--Add other project details here -->
                                     <!-- </div>

                                 </div>
                             </div>
                         </ng-template> -->

                     <!-- </ngb-tab> -->
                 <!-- </ngb-tabset> -->
            <!-- </div>
        </div>
    </div>

</section> -->
<section class="projects" id="projects">
    <div class="container">
      <h2>My Projects</h2>
      <div class="row">
        <div class="col-md-4" *ngFor="let project of projects">
          <div class="project-box">
              <div class="project-image-container" (click)="zoomImage(project)">
            <img [src]="project.imageUrl" alt="{{ project.title }}" class="project-image">
            <!-- <div class="project-image" [style.backgroundImage]="'url(' + project.imageUrl + ')'"></div> 
            -->
            </div>
            <h3>{{ project.title }}</h3>
            <p>{{ project.description }}</p>
            <div class="project-link1">
                <a href="{{project.frontendLink}}" target="_blank">Front-end Source Code</a>
                <span class ="pipe-symbol">||</span> 
                <a href="{{project.webApiLink}}" > Asp.net Web API source code </a>
                <br>
                <a href="{{project.githubIoLink}}" target="_blank">Github Page</a>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </section>
  