<!-- <p>contact works!</p> -->
<!-- <div class="container">
    <h1>Contact </h1>
   <ul class="Social-Media ">
       <li><i class="bx bxl-gmail"></i></li>
       <li><i class="bx bxl-linkdin"></i></li>
       <li><i class="bx bxl-Github"></i></li>
   </ul>
   <ul class="contact-info">
       <li>Mobile:575767865</li>
       <li>kiranmayi1609@gmail.com</li>
   </ul>

</div> -->

<!-- contact.component.html -->

<form [formGroup]="formDetails" (ngSubmit)="handleSubmit()">
    <input type="text" formControlName="firstName" placeholder="First Name" />
    <input type="text" formControlName="lastName" placeholder="Last Name" />
    <input type="email" formControlName="email" placeholder="Email Address" />
    <input type="tel" formControlName="phone" placeholder="Phone No." />
    <textarea rows="6" formControlName="message" placeholder="Message"></textarea>
    <!-- <button type="submit"><span>{{ buttonText }}</span></button> -->
  </form>