:host{
    color: aquamarine;
    padding: 2rem 3rem;
}
ul{
    margin-top:2rem;
    list-style: none;
    padding:0%;
}
.social-media li{
    height:60px;
    width: 60px;
    display: flex;
    align-items:center;
    border-radius: 50%;
    background-color: rgba(255,255,255,0.2);
    color:green;
}
.contact-info li{
    height:30px;
    font-size: 1.2rem;
}