<!-- <div class="portfolio-bg">
<section class="projects" id="projects">
  <div class="container">
    <h2>Work I have done</h2>
    <div class="row">
      <div class="col-md-4" *ngFor="let project of projects">
        <div class="project-box" >
          <div class="project-image-container" (click)="zoomImage(project)">
          <img [src]="project.imageUrl" alt="{{ project.title }}" class="project-image">
          <!-- <div class="project-image" [style.backgroundImage]="'url(' + project.imageUrl + ')'"></div> 
          -->
          <!-- </div> -->
          <!-- <div class="project-details">
            <div *ngIf="project.isClicked">
          <h3>{{ project.title }}</h3>
          <p>{{ project.description }}</p>
          <div class="project-link1">
              <a href="{{project.frontendLink}}" target="_blank">Front-end Source Code</a>
              <span class ="pipe-symbol">||</span> 
              <a href="{{project.webApiLink}}" > Asp.net Web API source code </a>
              <br>
              <a href="{{project.githubIoLink}}" target="_blank">Github Page</a>
          </div>
        </div>
      </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div> -->
<!-- <div class="portfolio-bg">
  <section class="projects" id="projects">
    <div class="container">
      <h2>Work I have done</h2>
      <div class="row">
        <div class="col-md-4" *ngFor="let project of projects">
          <div class="project-box" (click)="viewProjectDetails(project)">
            <img [src]="project.imageUrl" alt="{{ project.title }}" class="project-image">
            <div class="project-details" *ngIf="project.isExpanded">
              <h3>{{ project.title }}</h3>
              <p>{{ project.description }}</p>
              <div class="project-links">
                <a [href]="project.frontendLink" target="_blank">Front-end Source Code</a>
                <span class="pipe-symbol">||</span>
                <a [href]="project.webApiLink">Asp.net Web API source code</a>
                <br>
                <a [href]="project.githubIoLink" target="_blank">Github Page</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
 -->
<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-lg-4" *ngFor="let pd of projectData">
     
      <div class="projectbox mt-3 mb-3">
        <img src="{{pd.projectImg}}"/>
               <h1>{{pd.projectName}}</h1>
        <!-- <p>{{pd.projec}}</p> -->
      </div>
    </div>
  </div>
</div>