
<!-- <section id ="portfolio">
    <div class="dec decorator5">
       
        <h1 class="text-center"> My work</h1>
    </div>
</section> -->
<!-- <section class="portfolio">
    <div class="container">
      <h2>Portfolio</h2>
      <div class="portfolio-items">
        <div class="portfolio-item" *ngFor="let item of portfolioItems">
          <img [src]="item.imageUrl" [alt]="item.title">
          <h3>{{ item.title }}</h3>
          <p>{{ item.description }}</p>
        </div>
      </div>
    </div>
  </section>
   -->