<section class="p-wrapper" >
  <!-- Curtain-raising effect -->
  <!-- <div class="centered-welcome" [ngClass]="{'hidden': !showWelcomeMessage}">
    <div class="welcome-message">
      <p>Hi,<br> Welcome to My Portfolio</p>
    </div>
  </div>
   -->
    <!--header -Nav link behave like a header --> 
    <!-- <app-welcome-message></app-welcome-message> -->
    <div class="body">
    <app-header></app-header>
    <app-about></app-about>
    <app-experiance></app-experiance>
    <app-portfolio></app-portfolio>
    <app-journey></app-journey>
    <app-contact></app-contact>
  </div>

   
    <!--Router-->
    <router-outlet></router-outlet>
    
     
      
</section>


