

   <div class="component-container">
   <section class="p-wrapper" >
    <!-- Curtain-raising effect -->
    <div class="centered-welcome" [ngClass]="{'hidden': !showWelcomeMessage}">
      <div class="welcome-message">
        <p>Hi,<br> Welcome to My Portfolio</p>
      </div>
    </div>
    </section>
  </div>
    
   <!-- <section class="banner" id="home">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xs-12 col-md-6 col-xl-7">
          <div *ngIf="isVisible" class="animate__animated animate__fadeIn">
            <span class="tagline">Welcome to my Portfolio</span>
            <h1>Hi! I'm Kiranmayi <span class="txt-rotate" dataPeriod="1000" [appRotateText]="textArray"></span></h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry...</p>
            <button (click)="connect()">Let’s Connect <fa-icon [icon]="faArrowRightCircle"></fa-icon></button>
          </div>
        </div>
        <div class="col-xs-12 col-md-6 col-xl-5">
          <div *ngIf="isVisible" class="animate__animated animate__zoomIn">
            <img [src]="headerImg" alt="Header Img" />
          </div>
        </div>
      </div>
    </div>
  </section>
   -->