

<!-- <header>
   
    <div class="container" >
    <div class="row">
        <div class="col-sm-20 p-flex p-flex-align-center p-flex-jc-sb ">
            
            
            <div class="spacer"></div>
            <ul>
                <li><a  routerLink="/home" *ngif="showHomeContent">Home
                   </a></li>
                   
                <li><a href="#about"  routerLink="Aboutbout"  >About </a></li>
                <li><a href="#experience" routerLink="Experiance">Experiance</a></li>
                <li><a href="#portfolio" routerLink="Portfolio" >Portfolio</a></li>
                <li><a href="#journey" routerLink="Journey" >Journey</a></li>
                <li><a href="#contact" routerLink="Contact" >Contact</a></li>
               
                
            </ul>
           -->

            <!--Social media-->
            <!-- <ul class="social-icons">
                <li><a href="https://github.com/kiranmayi1609"><i class="fab fa-github"></i></a></li>
                <li><a href="https://www.linkedin.com/in/kiranmayi-tummala/"><i class="fab fa-linkedin"></i></a></li>
              </ul> -->

          <!-- <button (click)="toggleHomeContent()">Toggle Home content </button> -->
       <!-- </div> 
    </div>
    </div>
</header> -->
<nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink=""><span class="logo-style"></span>KT</a>
      <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
      <!-- <div class="collapse navbar-collapse" id="navbarNav"> -->
          <!-- if the ms-auto class not working as expected to align your menu items to the right side ,we can try alternative approaches to acheive the desired horizonatl alignment   -->
        <!--  use ml-auto (margin-left:auto )to push items to the right  -->
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link active" routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about" routerLinkActive="active-link">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/experience" routerLinkActive="active-link">Experience</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="/portfolio" routerLinkActive="active-link">Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="/journey" routerLinkActive="active-link">Journey</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="/contact" routerLinkActive="active-link">Contact</a>
          </li>
        </ul>
      <!-- </div> -->
    </div>
  </nav>