/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";  
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
   */
 html{
       scroll-behavior: smooth;
    scroll-padding-top: 75px; 
     
 }
html,body{
    height:100%;
    margin:0;
    padding:0;
    font-size: 18px;
    color:#fff;
    font-family: 'Centra',sans-serif;
     /* background-color:#262424;  */
    /* background-image: url('/assets/images/sub-bg3.jpg'); */
    /* backdrop-filter: blur(10px); */
    /* background: linear-gradient(45deg,#0000, #a4718b, #506eaa); */
    /* background: linear-gradient(45deg, #000000, #800080, #ff66b2); */
    

}
/* .component-container, */
body {
    background-image:url('/assets/images/sub-bg.png') ;
    /* background-image: url('/assets/images/bg.jpg'); */
    margin-top:0;
    padding: 0px 100px;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    /* border-radius:9.1%; */
    
    /* background-image: fixed ; */
    /* height :100% ; */
    overflow: auto;
 /* background-color: #121212; */
/* color:#fff */ 
   
    
}
.component-container{
    min-height: 100vh;
    /* background-color: ; */
    
}


/* Reset margin and padding for all components within the application */
app-root,
app-header,
app-about,
app-experience,
app-portfolio,
app-journey,
app-contact {
    margin: 0;
    padding: 0;
}
app-about,
app-experiance,
app-portfolio,
app-journey,
app-contact 
{
    background: transparent;
}

p{
    margin:0;
}
ul{
    list-style-type:none;
    padding:0;
    margin:0;
}
a, a:hover{
    text-decoration: none;
} */
/* h1,h2,h3,h4,h5,h6{
    font-weight: 700;

} */

/*common*/
 .p-cursor{
    cursor:pointer;
}
.p-flex{
    display:flex;
}
.p-flex-align-center
{
    align-items:center;
}
.p-flex-jc-sb{
    justify-content: space-between;

}



/*wrapper class*/

/* .p-wrapper
{
    position: relative;
}
.p-wrapper::before{
    content:'';
   
    padding:100px 0;
    height:100vh;
    width:25vw;
    position:absolute ;
    z-index:-1;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
} */

